@use '../mixins/pseudo.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:100px;
}
