@use '../mixins/responsive.scss' as *;
html {
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 110px;
  background-color: black;
  @include responsive(desktop) {
    padding-top:0;
    height: 100vh;
   
}
}