@use '../mixins/pseudo.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;
.icons{
    width: 350px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
    align-items: center;
    margin-bottom:100px;
    @include responsive(desktop) {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        gap:40px;
        margin-top:40px;
        padding-right:50px;
    }
    &__container{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        @include responsive(desktop) {
            position: relative;
            right:15px;
            gap:10px;
        }
    }
}
