@use '../mixins/pseudo.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;
.icon {
  width: 50px;
  @include responsive(desktop) {
    width: 50px;
    height: 50px;
    align-items: center;
  }
}
.photo {
  align-items: center;
  width: 300px;
  margin: 0 auto;
  @include responsive(desktop) {
    width: 500px;
  }
}
.photo--move {
  @include responsive(desktop) {
    margin-left: 100px;
    grid-column: 2/3;
  }
}
.photo--center {
  @include responsive(desktop) {
    position: relative;
    top: 10px;
  }
}
.profile {
  align-items: center;
  position: relative;
  top: -280px;
  z-index: -1;
  @include responsive(desktop) {
    width: 400px;
    box-shadow: 10px 10px 1px rgba(124,37,227,1);
    margin-right: 50px;
    top: 0;
  }
}
