:root {
  --color-gradient:linear-gradient(93deg, rgba(124,37,227,1) 0%, rgba(100,242,108,1) 100%);
  --color-link:rgb(207, 175, 246);
  --color-secundary:rgba(100,242,108,1);
  /* Variables CSS */
}

/* Variables SASS */
